openapi: 3.0.3
info:
  title: 'Marketplace Nigeria API Documentation'
  description: 'Complete REST API documentation for Marketplace Nigeria platform. This API allows you to manage adverts, users, messages, payments, and more.'
  version: '3.0'
servers:
  -
    url: 'https://www.marketplace.ng'
tags:
  -
    name: Adverts
    description: ''
  -
    name: 'Advert Statistics'
    description: "\nAPIs for retrieving advertisement statistics, counts, and filtering"
  -
    name: Endpoints
    description: ''
  -
    name: Notifications
    description: ''
  -
    name: Testing
    description: ''
  -
    name: 'User Statistics'
    description: "\nAPIs for retrieving user statistics, feedback, and notifications"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can obtain your authentication token by logging in through the `/api/login` endpoint. The token should be included in the Authorization header as a Bearer token for all authenticated requests.'
security:
  -
    default: []
paths:
  '/api/adverts/{id}/report':
    post:
      summary: 'Report an advert'
      operationId: reportAnAdvert
      description: "Submit a report for an inappropriate or suspicious advert.\nThe report is sent to the admin team for review."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Your report has been received'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Your report has been received'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Advert not found'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Advert not found'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  errors:
                    subject:
                      - 'The subject field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    type: object
                    properties:
                      subject:
                        type: array
                        example:
                          - 'The subject field is required.'
                        items:
                          type: string
      tags:
        - Adverts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ohobpqivwplbqb
                message:
                  type: string
                  description: ''
                  example: cumque
              required:
                - subject
                - message
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the advert.'
        example: non
        required: true
        schema:
          type: string
  /api/adverts/count:
    get:
      summary: 'Get adverts count with filters'
      operationId: getAdvertsCountWithFilters
      description: "Returns the total count of active adverts based on various filters.\nAll filters are optional and can be combined."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    total_count: 1500
                    filters_applied:
                      category: '1'
                      state: Lagos
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_count:
                        type: integer
                        example: 1500
                      filters_applied:
                        type: object
                        properties:
                          category:
                            type: string
                            example: '1'
                          state:
                            type: string
                            example: Lagos
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to fetch advert count'
                  error: 'Error details'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to fetch advert count'
                  error:
                    type: string
                    example: 'Error details'
      tags:
        - 'Advert Statistics'
  /api/adverts/by-state:
    get:
      summary: 'Get adverts grouped by state'
      operationId: getAdvertsGroupedByState
      description: "Returns the count of active adverts grouped by Nigerian states.\nResults are ordered by state with the most adverts first."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    states:
                      -
                        state: Lagos
                        total: 500
                      -
                        state: Abuja
                        total: 300
                      -
                        state: 'Port Harcourt'
                        total: 250
                    filters_applied:
                      category: '1'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      states:
                        type: array
                        example:
                          -
                            state: Lagos
                            total: 500
                          -
                            state: Abuja
                            total: 300
                          -
                            state: 'Port Harcourt'
                            total: 250
                        items:
                          type: object
                          properties:
                            state:
                              type: string
                              example: Lagos
                            total:
                              type: integer
                              example: 500
                      filters_applied:
                        type: object
                        properties:
                          category:
                            type: string
                            example: '1'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to fetch adverts by state'
                  error: 'Error details'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to fetch adverts by state'
                  error:
                    type: string
                    example: 'Error details'
      tags:
        - 'Advert Statistics'
  /api/adverts/count-filtered:
    get:
      summary: 'Get advert count filtered by verified sellers'
      operationId: getAdvertCountFilteredByVerifiedSellers
      description: "Returns the count of adverts from verified or unverified sellers.\nUseful for showing marketplace trust metrics."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    count: 250
                    verified: 'yes'
                    category: electronics
                    sub_category: mobile-phones
                    brand: samsung
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 250
                      verified:
                        type: string
                        example: 'yes'
                      category:
                        type: string
                        example: electronics
                      sub_category:
                        type: string
                        example: mobile-phones
                      brand:
                        type: string
                        example: samsung
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to fetch filtered advert count'
                  error: 'Error details'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to fetch filtered advert count'
                  error:
                    type: string
                    example: 'Error details'
      tags:
        - 'Advert Statistics'
  /api/adverts/brands:
    get:
      summary: 'Get brands with advert counts'
      operationId: getBrandsWithAdvertCounts
      description: "Returns a list of brands with their active advert counts.\nCan be filtered by category or sub-category. Only returns brands with at least one active advert."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    brands:
                      -
                        id: 1
                        brand_name: Samsung
                        brand_slug: samsung
                        adverts_count: 45
                        sub_category:
                          id: 5
                          sub_cat_name: 'Mobile Phones'
                          category:
                            id: 1
                            category_name: Electronics
                      -
                        id: 2
                        brand_name: Apple
                        brand_slug: apple
                        adverts_count: 38
                        sub_category:
                          id: 5
                          sub_cat_name: 'Mobile Phones'
                          category:
                            id: 1
                            category_name: Electronics
                    category_id: 1
                    sub_category_id: 5
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      brands:
                        type: array
                        example:
                          -
                            id: 1
                            brand_name: Samsung
                            brand_slug: samsung
                            adverts_count: 45
                            sub_category:
                              id: 5
                              sub_cat_name: 'Mobile Phones'
                              category:
                                id: 1
                                category_name: Electronics
                          -
                            id: 2
                            brand_name: Apple
                            brand_slug: apple
                            adverts_count: 38
                            sub_category:
                              id: 5
                              sub_cat_name: 'Mobile Phones'
                              category:
                                id: 1
                                category_name: Electronics
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            brand_name:
                              type: string
                              example: Samsung
                            brand_slug:
                              type: string
                              example: samsung
                            adverts_count:
                              type: integer
                              example: 45
                            sub_category:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 5
                                sub_cat_name:
                                  type: string
                                  example: 'Mobile Phones'
                                category:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 1
                                    category_name:
                                      type: string
                                      example: Electronics
                      category_id:
                        type: integer
                        example: 1
                      sub_category_id:
                        type: integer
                        example: 5
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to fetch brands with advert count'
                  error: 'Error details'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to fetch brands with advert count'
                  error:
                    type: string
                    example: 'Error details'
      tags:
        - 'Advert Statistics'
  /api/register:
    post:
      summary: "Register\nPOST /api/register"
      operationId: registerPOSTapiregister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                acc_type:
                  type: string
                  description: ''
                  example: minima
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: nvgupxzk
                phone:
                  type: string
                  description: ''
                  example: dolorem
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: mallory.bradtke@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'Y9}y3)5@QNQ:QsGD8Mw'
              required:
                - acc_type
                - name
                - phone
                - email
                - password
      security: []
  /api/login:
    post:
      summary: "API Login - Step 1: Validate credentials\nPOST /api/login"
      operationId: aPILoginStep1ValidateCredentialsPOSTapilogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: lindgren.wyatt@example.net
                password:
                  type: string
                  description: 'Must be at least 4 characters.'
                  example: FB|$Ln-e8(|1;
              required:
                - email
                - password
      security: []
  /api/verify-otp:
    post:
      summary: "API Login - Step 2: Verify OTP\nPOST /api/verify-otp"
      operationId: aPILoginStep2VerifyOTPPOSTapiverifyOtp
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: tremblay.carlotta@example.net
                otp:
                  type: string
                  description: 'Must be 6 digits.'
                  example: '699316'
                trust_device:
                  type: boolean
                  description: ''
                  example: false
              required:
                - email
                - otp
      security: []
  /api/resend-otp:
    post:
      summary: "Resend OTP\nPOST /api/resend-otp"
      operationId: resendOTPPOSTapiresendOtp
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: hane.wilbert@example.com
              required:
                - email
      security: []
  '/api/verify/{email}/{token}':
    get:
      summary: "Verify Account\nGET /api/verify/{email}/{token}"
      operationId: verifyAccountGETapiverifyemailtoken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: email
        description: ''
        example: theresia.lowe@example.org
        required: true
        schema:
          type: string
      -
        in: path
        name: token
        description: ''
        example: iste
        required: true
        schema:
          type: string
  /api/resend-verification:
    post:
      summary: "Resend Verification Email\nPOST /api/resend-verification"
      operationId: resendVerificationEmailPOSTapiresendVerification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: mwilliamson@example.net
              required:
                - email
      security: []
  /api/forgot-password:
    post:
      summary: "Forgot Password\nPOST /api/forgot-password"
      operationId: forgotPasswordPOSTapiforgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: zstracke@example.org
              required:
                - email
      security: []
  '/api/reset-password/{user_id}/{token}':
    post:
      summary: "Reset Password\nPOST /api/reset-password/{user_id}/{token}"
      operationId: resetPasswordPOSTapiresetPassworduserIdtoken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: oBUyLpY6xHac(j
              required:
                - password
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: aut
        required: true
        schema:
          type: string
      -
        in: path
        name: token
        description: ''
        example: saepe
        required: true
        schema:
          type: string
  /api/auth/social:
    post:
      summary: "Social Login - Mobile sends provider token\nPOST /api/auth/social"
      operationId: socialLoginMobileSendsProviderTokenPOSTapiauthsocial
      description: "Mobile app gets token from provider (Google/Facebook SDK)\nthen sends it to this endpoint for verification"
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  description: ''
                  example: google
                  enum:
                    - google
                    - facebook
                access_token:
                  type: string
                  description: ''
                  example: facere
                device_name:
                  type: string
                  description: ''
                  example: aut
                  nullable: true
              required:
                - provider
                - access_token
      security: []
  '/api/auth/{provider}/redirect':
    get:
      summary: "Get Social Login URL - For WebView flow\nGET /api/auth/{provider}/redirect"
      operationId: getSocialLoginURLForWebViewFlowGETapiauthproviderredirect
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provider
        description: ''
        example: itaque
        required: true
        schema:
          type: string
  '/api/auth/{provider}/callback':
    get:
      summary: "Social Login Callback - For WebView flow\nGET /api/auth/{provider}/callback"
      operationId: socialLoginCallbackForWebViewFlowGETapiauthprovidercallback
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provider
        description: ''
        example: in
        required: true
        schema:
          type: string
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/logout:
    post:
      summary: "Logout\nPOST /api/logout"
      operationId: logoutPOSTapilogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/trusted-device/{device_id}':
    delete:
      summary: "Remove Trusted Device\nDELETE /api/trusted-device/{device_id}"
      operationId: removeTrustedDeviceDELETEapitrustedDevicedeviceId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_id
        description: 'The ID of the device.'
        example: dolorem
        required: true
        schema:
          type: string
  /api/adverts:
    get:
      summary: "Get all adverts with pagination and categorized sections\nGET /api/adverts"
      operationId: getAllAdvertsWithPaginationAndCategorizedSectionsGETapiadverts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/adverts/{id}':
    get:
      summary: "Get advert details\nGET /api/adverts/{id}"
      operationId: getAdvertDetailsGETapiadvertsid
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the advert.'
        example: deserunt
        required: true
        schema:
          type: string
  '/api/adverts/seller/{seller_id}':
    get:
      summary: "Get adverts by seller\nGET /api/adverts/seller/{seller_id}"
      operationId: getAdvertsBySellerGETapiadvertssellersellerId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: seller_id
        description: 'The ID of the seller.'
        example: pariatur
        required: true
        schema:
          type: string
  /api/categories:
    get:
      summary: "Get all categories with counts\nGET /api/categories"
      operationId: getAllCategoriesWithCountsGETapicategories
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/categories/{category_slug}':
    get:
      summary: "Get adverts by category\nGET /api/categories/{category_slug}"
      operationId: getAdvertsByCategoryGETapicategoriescategorySlug
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: category_slug
        description: 'The slug of the category.'
        example: repellendus
        required: true
        schema:
          type: string
  '/api/categories/{category_slug}/{subcat_slug}':
    get:
      summary: "Get adverts by subcategory\nGET /api/categories/{category_slug}/{subcat_slug}"
      operationId: getAdvertsBySubcategoryGETapicategoriescategorySlugsubcatSlug
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: category_slug
        description: 'The slug of the category.'
        example: sed
        required: true
        schema:
          type: string
      -
        in: path
        name: subcat_slug
        description: 'The slug of the subcat.'
        example: et
        required: true
        schema:
          type: string
  '/api/brands/{category_slug}/{subcat_slug}/{brand_slug}':
    get:
      summary: "Get adverts by brand\nGET /api/brands/{category_slug}/{subcat_slug}/{brand_slug}"
      operationId: getAdvertsByBrandGETapibrandscategorySlugsubcatSlugbrandSlug
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: category_slug
        description: 'The slug of the category.'
        example: aspernatur
        required: true
        schema:
          type: string
      -
        in: path
        name: subcat_slug
        description: 'The slug of the subcat.'
        example: nam
        required: true
        schema:
          type: string
      -
        in: path
        name: brand_slug
        description: 'The slug of the brand.'
        example: non
        required: true
        schema:
          type: string
  '/api/location/{state_slug}':
    get:
      summary: "Get adverts by location\nGET /api/location/{state_slug}"
      operationId: getAdvertsByLocationGETapilocationstateSlug
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: state_slug
        description: 'The slug of the state.'
        example: ipsam
        required: true
        schema:
          type: string
  /api/adverts/featured:
    get:
      summary: "Get featured adverts\nGET /api/adverts/featured"
      operationId: getFeaturedAdvertsGETapiadvertsfeatured
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/adverts/load-more:
    get:
      summary: "Load more adverts (pagination helper)\nGET /api/adverts/load-more"
      operationId: loadMoreAdvertspaginationHelperGETapiadvertsloadMore
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/adverts/{id}/apply':
    post:
      summary: "Apply for a job advert\nPOST /api/adverts/{id}/apply"
      operationId: applyForAJobAdvertPOSTapiadvertsidapply
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: ''
                  example: eum
              required:
                - message
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the advert.'
        example: magnam
        required: true
        schema:
          type: string
  /api/search:
    get:
      summary: ''
      operationId: getApiSearch
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                  description: 'Must be at least 3 characters.'
                  example: ntknqrbfbzwonxpid
                  nullable: true
                location:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                category:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                sub_category:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                brand:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                buydirect:
                  type: string
                  description: ''
                  example: null
                  nullable: true
      security: []
  /api/search/filter:
    post:
      summary: ''
      operationId: postApiSearchFilter
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/search/filter-by-seller:
    post:
      summary: ''
      operationId: postApiSearchFilterBySeller
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/search/filter-by-buydirect:
    post:
      summary: ''
      operationId: postApiSearchFilterByBuydirect
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/search/location/{location}/{slug}':
    get:
      summary: ''
      operationId: getApiSearchLocationLocationSlug
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: location
        description: 'The location.'
        example: deleniti
        required: true
        schema:
          type: string
      -
        in: path
        name: slug
        description: 'The slug of the {location}.'
        example: dolorem
        required: true
        schema:
          type: string
  /api/search/filters:
    get:
      summary: ''
      operationId: getApiSearchFilters
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/search/suggestions:
    get:
      summary: ''
      operationId: getApiSearchSuggestions
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: 'Must be at least 2 characters.'
                  example: sstncoerqcrmeoaicaejwrwtgfcgflnwppwszuwlczdik
              required:
                - q
      security: []
  /api/search/load-more:
    get:
      summary: ''
      operationId: getApiSearchLoadMore
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/locations/states:
    get:
      summary: ''
      operationId: getApiLocationsStates
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/locations/states/{state_id}/cities':
    get:
      summary: ''
      operationId: getApiLocationsStatesState_idCities
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: state_id
        description: 'The ID of the state.'
        example: ducimus
        required: true
        schema:
          type: string
  '/api/locations/states/{state_id}/details':
    get:
      summary: ''
      operationId: getApiLocationsStatesState_idDetails
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: state_id
        description: 'The ID of the state.'
        example: rerum
        required: true
        schema:
          type: string
  /api/locations/cities:
    get:
      summary: ''
      operationId: getApiLocationsCities
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: 'Must be at least 2 characters.'
                  example: vo
                  nullable: true
                state_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the states table.'
                  example: 1
                  nullable: true
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 50.'
                  example: 15
                  nullable: true
      security: []
  '/api/locations/cities/{city_id}':
    get:
      summary: ''
      operationId: getApiLocationsCitiesCity_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: city_id
        description: 'The ID of the city.'
        example: neque
        required: true
        schema:
          type: string
  /api/shipping/calculate:
    post:
      summary: ''
      operationId: postApiShippingCalculate
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_station:
                  type: string
                  description: ''
                  example: dignissimos
                receiver_station:
                  type: string
                  description: ''
                  example: mollitia
                ad_price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 90
                ad_title:
                  type: string
                  description: ''
                  example: repudiandae
                ad_des:
                  type: string
                  description: ''
                  example: quasi
                  nullable: true
                weight:
                  type: number
                  description: 'Must be at least 0.'
                  example: 25
                  nullable: true
                quantity:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 27
                  nullable: true
              required:
                - sender_station
                - receiver_station
                - ad_price
                - ad_title
      security: []
  /api/messages:
    post:
      summary: ''
      operationId: postApiMessages
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                advert_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: 17
                receiver_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: provident
                message_content:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: vnpr
                  nullable: true
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 12048 kilobytes.'
                  items:
                    type: string
                    format: binary
                    nullable: true
              required:
                - advert_id
                - receiver_id
      security: []
  '/api/messages/conversation/{advertId}/{receiverId}':
    get:
      summary: ''
      operationId: getApiMessagesConversationAdvertIdReceiverId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: enim
        required: true
        schema:
          type: string
      -
        in: path
        name: receiverId
        description: ''
        example: deserunt
        required: true
        schema:
          type: string
  '/api/messages/advert/{advertId}':
    get:
      summary: ''
      operationId: getApiMessagesAdvertAdvertId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: ducimus
        required: true
        schema:
          type: string
  /api/messages/conversations:
    get:
      summary: ''
      operationId: getApiMessagesConversations
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/messages/unread/count:
    get:
      summary: ''
      operationId: getApiMessagesUnreadCount
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/messages/{messageId}/read':
    put:
      summary: ''
      operationId: putApiMessagesMessageIdRead
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: messageId
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  '/api/messages/conversation/{advertId}/{userId}/read':
    put:
      summary: ''
      operationId: putApiMessagesConversationAdvertIdUserIdRead
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: at
        required: true
        schema:
          type: string
      -
        in: path
        name: userId
        description: ''
        example: inventore
        required: true
        schema:
          type: string
  /api/messages/archive:
    post:
      summary: ''
      operationId: postApiMessagesArchive
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                advert_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: dolore
                other_user_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: aut
              required:
                - advert_id
                - other_user_id
      security: []
  /api/messages/unarchive:
    post:
      summary: ''
      operationId: postApiMessagesUnarchive
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                advert_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: repellat
                other_user_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: velit
              required:
                - advert_id
                - other_user_id
      security: []
  /api/messages/archived:
    get:
      summary: ''
      operationId: getApiMessagesArchived
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/payments/{paymentId}/mark-delivered':
    post:
      summary: ''
      operationId: postApiPaymentsPaymentIdMarkDelivered
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: paymentId
        description: ''
        example: molestias
        required: true
        schema:
          type: string
  /api/payments/initialize:
    post:
      summary: ''
      operationId: postApiPaymentsInitialize
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_data:
                  type: object
                  description: ''
                  example: []
                  properties:
                    first_name:
                      type: string
                      description: ''
                      example: aut
                    last_name:
                      type: string
                      description: ''
                      example: corporis
                    phone:
                      type: string
                      description: ''
                      example: facere
                    grand_total:
                      type: number
                      description: ''
                      example: 448535.80312619
                    commission:
                      type: number
                      description: ''
                      example: 11.15
                    shipping_cost:
                      type: number
                      description: ''
                      example: 17.771589836
                    shipping_method:
                      type: integer
                      description: ''
                      example: 10
                    ad:
                      type: object
                      description: ''
                      example: []
                      properties:
                        id:
                          type: integer
                          description: 'The <code>id</code> of an existing record in the adverts table.'
                          example: 6
                        price:
                          type: number
                          description: ''
                          example: 2.03
                      required:
                        - id
                        - price
                    reciever_city:
                      type: object
                      description: ''
                      example: []
                      properties:
                        id:
                          type: integer
                          description: ''
                          example: 19
                          nullable: true
                    reciever_state:
                      type: object
                      description: ''
                      example: []
                      properties:
                        id:
                          type: integer
                          description: ''
                          example: 3
                          nullable: true
                  required:
                    - first_name
                    - last_name
                    - phone
                    - grand_total
                    - commission
                    - shipping_cost
                    - shipping_method
              required:
                - shipping_data
      security: []
  /api/payments/initialize-boost:
    post:
      summary: ''
      operationId: postApiPaymentsInitializeBoost
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                advert_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: 18
                amount:
                  type: number
                  description: 'Must be at least 0.'
                  example: 23
                boost_type:
                  type: string
                  description: ''
                  example: autem
                duration:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 10
              required:
                - advert_id
                - amount
                - boost_type
                - duration
      security: []
  '/api/payments/{paymentId}':
    get:
      summary: ''
      operationId: getApiPaymentsPaymentId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: paymentId
        description: ''
        example: est
        required: true
        schema:
          type: string
  '/api/payments/user/{userId}':
    get:
      summary: ''
      operationId: getApiPaymentsUserUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: pariatur
        required: true
        schema:
          type: string
  '/api/boosts/user/{userId}':
    get:
      summary: ''
      operationId: getApiBoostsUserUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: aliquam
        required: true
        schema:
          type: string
  /api/payments/callback:
    post:
      summary: ''
      operationId: postApiPaymentsCallback
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                  description: ''
                  example: et
              required:
                - reference
      security: []
  /api/user/dashboard:
    get:
      summary: ''
      operationId: getApiUserDashboard
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/categories:
    get:
      summary: ''
      operationId: getApiUserCategories
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/messages/conversations:
    get:
      summary: ''
      operationId: getApiUserMessagesConversations
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/ads:
    get:
      summary: ''
      operationId: getApiUserAds
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/user/ads/{adId}/status':
    patch:
      summary: ''
      operationId: patchApiUserAdsAdIdStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: inactive
                  enum:
                    - active
                    - inactive
              required:
                - status
      security: []
    parameters:
      -
        in: path
        name: adId
        description: ''
        example: earum
        required: true
        schema:
          type: string
  '/api/user/ads/{adId}/mark-sold':
    patch:
      summary: ''
      operationId: patchApiUserAdsAdIdMarkSold
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: adId
        description: ''
        example: doloribus
        required: true
        schema:
          type: string
  /api/user/wishlist:
    get:
      summary: ''
      operationId: getApiUserWishlist
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/user/user/wishlist/{adId}':
    post:
      summary: ''
      operationId: postApiUserUserWishlistAdId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: adId
        description: ''
        example: ratione
        required: true
        schema:
          type: string
  /api/user/payments:
    get:
      summary: ''
      operationId: getApiUserPayments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/user/payments/{paymentId}/confirm-delivery':
    post:
      summary: ''
      operationId: postApiUserPaymentsPaymentIdConfirmDelivery
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: paymentId
        description: ''
        example: modi
        required: true
        schema:
          type: string
  '/api/user/payments/{paymentId}/shipping-status':
    patch:
      summary: ''
      operationId: patchApiUserPaymentsPaymentIdShippingStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_status:
                  type: string
                  description: ''
                  example: nostrum
              required:
                - shipping_status
      security: []
    parameters:
      -
        in: path
        name: paymentId
        description: ''
        example: et
        required: true
        schema:
          type: string
  /api/user/feedbacks:
    get:
      summary: ''
      operationId: getApiUserFeedbacks
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/user/feedbacks/{sellerId}':
    post:
      summary: ''
      operationId: postApiUserFeedbacksSellerId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  description: 'Must be between 1 and 5.'
                  example: 2
                satisfaction:
                  type: integer
                  description: 'Must be between 1 and 5.'
                  example: 1
                reliable:
                  type: integer
                  description: 'Must be between 1 and 5.'
                  example: 2
                friendly:
                  type: integer
                  description: 'Must be between 1 and 5.'
                  example: 1
                message:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: piizovljeunxydntxdqwemlte
              required:
                - rating
                - satisfaction
                - reliable
                - friendly
                - message
      security: []
    parameters:
      -
        in: path
        name: sellerId
        description: ''
        example: deleniti
        required: true
        schema:
          type: string
  '/api/user/following/check/{userId}':
    get:
      summary: ''
      operationId: getApiUserFollowingCheckUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: dolores
        required: true
        schema:
          type: string
  /api/user/following/toggle:
    post:
      summary: ''
      operationId: postApiUserFollowingToggle
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followee_id:
                  type: integer
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: 18
              required:
                - followee_id
      security: []
  '/api/adverts/categories/{categoryId}/subcategories':
    get:
      summary: ''
      operationId: getApiAdvertsCategoriesCategoryIdSubcategories
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: categoryId
        description: ''
        example: et
        required: true
        schema:
          type: string
  '/api/adverts/subcategories/{subcategoryId}/brands':
    get:
      summary: ''
      operationId: getApiAdvertsSubcategoriesSubcategoryIdBrands
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: subcategoryId
        description: ''
        example: nulla
        required: true
        schema:
          type: string
  '/api/adverts/brands/{brandId}/models':
    get:
      summary: ''
      operationId: getApiAdvertsBrandsBrandIdModels
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: brandId
        description: ''
        example: impedit
        required: true
        schema:
          type: string
  /api/user/profile:
    get:
      summary: ''
      operationId: getApiUserProfile
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/about-account:
    get:
      summary: ''
      operationId: getApiUserAboutAccount
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/profile-info:
    get:
      summary: ''
      operationId: getApiUserProfileInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/profile/address:
    put:
      summary: ''
      operationId: putApiUserProfileAddress
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: psonszblxgmyzttv
                address:
                  type: string
                  description: 'Must not be greater than 500 characters.'
                  example: bkva
                  nullable: true
                city:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: ydzoe
                  nullable: true
                state:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: xzezfukcgh
                  nullable: true
                profile_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 12048 kilobytes.'
              required:
                - name
      security: []
    post:
      summary: ''
      operationId: postApiUserProfileAddress
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: r
                address:
                  type: string
                  description: 'Must not be greater than 500 characters.'
                  example: maxqshsqytvharxsgix
                  nullable: true
                city:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: dhllezf
                  nullable: true
                state:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: jeotb
                  nullable: true
                profile_image:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 12048 kilobytes.'
              required:
                - name
      security: []
  /api/user/profile/phone:
    put:
      summary: ''
      operationId: putApiUserProfilePhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: ''
                  example: blanditiis
              required:
                - phone
      security: []
  /api/user/verification:
    get:
      summary: ''
      operationId: getApiUserVerification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiUserVerification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lyprmqjqkhgovdvrv
                document_type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: bmobiqiymgj
                  nullable: true
                document_file:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 12048 kilobytes.'
                proof_address:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 12048 kilobytes.'
                  nullable: true
              required:
                - document_number
                - document_file
      security: []
  /api/user/payment-info:
    get:
      summary: ''
      operationId: getApiUserPaymentInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiUserPaymentInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_name:
                  type: string
                  description: ''
                  example: consequuntur
                paystack_bank_code:
                  type: string
                  description: ''
                  example: nemo
                account_number:
                  type: string
                  description: ''
                  example: natus
                account_name:
                  type: string
                  description: ''
                  example: quia
              required:
                - bank_name
                - paystack_bank_code
                - account_number
                - account_name
      security: []
  /api/user/password:
    put:
      summary: ''
      operationId: putApiUserPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  description: ''
                  example: autem
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: cm>CvN
              required:
                - old_password
                - password
      security: []
  /api/user/notifications:
    put:
      summary: ''
      operationId: putApiUserNotifications
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notifications:
                  type: string
                  description: ''
                  example: dolorem
              required:
                - notifications
      security: []
    get:
      summary: 'Get user notifications'
      operationId: getUserNotifications
      description: "Retrieves notifications for the authenticated user with pagination support.\nReturns both the notifications list and unread count."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    notifications:
                      -
                        id: 1
                        type: message
                        message: 'You have a new message'
                        is_read: false
                        created_at: '2025-01-09T10:30:00.000000Z'
                        seller:
                          user_id: DEF45
                          name: 'John Doe'
                        advert:
                          id: 123
                          title: 'Samsung Galaxy S21'
                    unread_count: 3
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      notifications:
                        type: array
                        example:
                          -
                            id: 1
                            type: message
                            message: 'You have a new message'
                            is_read: false
                            created_at: '2025-01-09T10:30:00.000000Z'
                            seller:
                              user_id: DEF45
                              name: 'John Doe'
                            advert:
                              id: 123
                              title: 'Samsung Galaxy S21'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            type:
                              type: string
                              example: message
                            message:
                              type: string
                              example: 'You have a new message'
                            is_read:
                              type: boolean
                              example: false
                            created_at:
                              type: string
                              example: '2025-01-09T10:30:00.000000Z'
                            seller:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  example: DEF45
                                name:
                                  type: string
                                  example: 'John Doe'
                            advert:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 123
                                title:
                                  type: string
                                  example: 'Samsung Galaxy S21'
                      unread_count:
                        type: integer
                        example: 3
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'User not authenticated'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not authenticated'
      tags:
        - 'User Statistics'
  /api/user/settings:
    get:
      summary: ''
      operationId: getApiUserSettings
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/account:
    delete:
      summary: ''
      operationId: deleteApiUserAccount
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/user/logout:
    post:
      summary: ''
      operationId: postApiUserLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/users/block:
    post:
      summary: ''
      operationId: postApiUsersBlock
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                blocked_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: sint
                advert_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: null
                  nullable: true
              required:
                - blocked_id
      security: []
  /api/users/unblock:
    post:
      summary: ''
      operationId: postApiUsersUnblock
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                blocked_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: illum
                advert_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the adverts table.'
                  example: null
                  nullable: true
              required:
                - blocked_id
      security: []
  /api/users/blocked:
    get:
      summary: ''
      operationId: getApiUsersBlocked
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/users/check-blocked/{userId}':
    get:
      summary: ''
      operationId: getApiUsersCheckBlockedUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: voluptatum
        required: true
        schema:
          type: string
  '/api/users/block-all/{userId}':
    post:
      summary: ''
      operationId: postApiUsersBlockAllUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: quo
        required: true
        schema:
          type: string
  /api/user/boosts:
    get:
      summary: ''
      operationId: getApiUserBoosts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/boosts/active:
    get:
      summary: ''
      operationId: getApiBoostsActive
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/boosts/pending:
    get:
      summary: ''
      operationId: getApiBoostsPending
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/adverts/{advertId}/boost-info':
    get:
      summary: ''
      operationId: getApiAdvertsAdvertIdBoostInfo
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: ipsum
        required: true
        schema:
          type: string
  '/api/adverts/{advertId}/boost':
    post:
      summary: ''
      operationId: postApiAdvertsAdvertIdBoost
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                duration_days:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 30.'
                  example: 5
                  nullable: true
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/adverts/{advertId}/boost-status':
    get:
      summary: ''
      operationId: getApiAdvertsAdvertIdBoostStatus
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: advertId
        description: ''
        example: eaque
        required: true
        schema:
          type: string
  '/api/boosts/{boostId}':
    get:
      summary: ''
      operationId: getApiBoostsBoostId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    delete:
      summary: ''
      operationId: deleteApiBoostsBoostId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: boostId
        description: ''
        example: et
        required: true
        schema:
          type: string
  '/api/boosts/{boostId}/upload-proof':
    post:
      summary: ''
      operationId: postApiBoostsBoostIdUploadProof
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                payment_proof:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 12048 kilobytes.'
              required:
                - payment_proof
      security: []
    parameters:
      -
        in: path
        name: boostId
        description: ''
        example: eum
        required: true
        schema:
          type: string
  /api/broadcasting/auth:
    get:
      summary: 'Authenticate the request for channel access.'
      operationId: authenticateTheRequestForChannelAccess
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/unread-messages-count:
    get:
      summary: ''
      operationId: getApiUnreadMessagesCount
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/check-following/{userId}':
    get:
      summary: ''
      operationId: getApiCheckFollowingUserId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: maxime
        required: true
        schema:
          type: string
  /api/toggle-follow:
    post:
      summary: ''
      operationId: postApiToggleFollow
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followee_id:
                  type: string
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: accusamus
              required:
                - followee_id
      security: []
  /api/device-tokens:
    get:
      summary: 'Get device tokens'
      operationId: getDeviceTokens
      description: 'Retrieve all device tokens registered for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    -
                      id: 1
                      platform: android
                      is_active: true
                      last_used_at: '2026-01-19T10:30:00.000000Z'
                      created_at: '2026-01-15T08:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        platform: android
                        is_active: true
                        last_used_at: '2026-01-19T10:30:00.000000Z'
                        created_at: '2026-01-15T08:00:00.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        platform:
                          type: string
                          example: android
                        is_active:
                          type: boolean
                          example: true
                        last_used_at:
                          type: string
                          example: '2026-01-19T10:30:00.000000Z'
                        created_at:
                          type: string
                          example: '2026-01-15T08:00:00.000000Z'
      tags:
        - Notifications
    post:
      summary: 'Register device token'
      operationId: registerDeviceToken
      description: "Register or update a device token for push notifications (FCM).\nIf the token already exists, it will be updated with new user and platform information."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Device token registered successfully'
                  data:
                    id: 1
                    platform: android
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Device token registered successfully'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      platform:
                        type: string
                        example: android
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: hidnggzv
                platform:
                  type: string
                  description: ''
                  example: dolor
              required:
                - token
                - platform
  '/api/device-tokens/{id}':
    delete:
      summary: 'Delete device token'
      operationId: deleteDeviceToken
      description: 'Remove a device token to stop receiving push notifications on that device.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Device token removed successfully'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Device token removed successfully'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Device token not found'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Device token not found'
      tags:
        - Notifications
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the device token.'
        example: voluptatum
        required: true
        schema:
          type: string
  /api/notification-settings:
    get:
      summary: 'Get notification settings'
      operationId: getNotificationSettings
      description: 'Retrieve the current notification settings for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    push_notifications_enabled: true
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      push_notifications_enabled:
                        type: boolean
                        example: true
      tags:
        - Notifications
    put:
      summary: 'Update notification settings'
      operationId: updateNotificationSettings
      description: 'Update push notification preferences for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Notification settings updated successfully'
                  data:
                    push_notifications_enabled: true
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Notification settings updated successfully'
                  data:
                    type: object
                    properties:
                      push_notifications_enabled:
                        type: boolean
                        example: true
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                push_notifications_enabled:
                  type: boolean
                  description: ''
                  example: true
              required:
                - push_notifications_enabled
  /api/test/notification:
    post:
      summary: 'Send a test push notification'
      operationId: sendATestPushNotification
      description: "This endpoint allows you to test push notifications locally.\nOnly available in local/development environment."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Test notification sent successfully'
                  data:
                    tokens_count: 1
                    notification:
                      title: 'Test Notification'
                      body: 'This is a test message'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Test notification sent successfully'
                  data:
                    type: object
                    properties:
                      tokens_count:
                        type: integer
                        example: 1
                      notification:
                        type: object
                        properties:
                          title:
                            type: string
                            example: 'Test Notification'
                          body:
                            type: string
                            example: 'This is a test message'
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rqgefsnxivnixuxjzozrovdel
                  nullable: true
                message:
                  type: string
                  description: 'Must not be greater than 500 characters.'
                  example: pujgovth
                data:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                  nullable: true
                target_user_id:
                  type: integer
                  description: 'The <code>user_id</code> of an existing record in the users table.'
                  example: 15
                  nullable: true
                device_token:
                  type: string
                  description: ''
                  example: illo
                  nullable: true
              required:
                - message
  /api/test/my-tokens:
    get:
      summary: "Get user's registered device tokens"
      operationId: getUsersRegisteredDeviceTokens
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    user_tokens:
                      -
                        id: 1
                        platform: android
                        token: cDNfP...
                        is_active: true
                        last_used_at: '2026-01-13T10:30:00.000000Z'
                    total_count: 1
                    active_count: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user_tokens:
                        type: array
                        example:
                          -
                            id: 1
                            platform: android
                            token: cDNfP...
                            is_active: true
                            last_used_at: '2026-01-13T10:30:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            platform:
                              type: string
                              example: android
                            token:
                              type: string
                              example: cDNfP...
                            is_active:
                              type: boolean
                              example: true
                            last_used_at:
                              type: string
                              example: '2026-01-13T10:30:00.000000Z'
                      total_count:
                        type: integer
                        example: 1
                      active_count:
                        type: integer
                        example: 1
      tags:
        - Testing
  /api/user/stats:
    get:
      summary: 'Get authenticated user statistics'
      operationId: getAuthenticatedUserStatistics
      description: "Returns comprehensive statistics for the currently authenticated user including\nfollowers count, unread messages, notifications, and feedback ratings."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    followers_count: 150
                    unread_messages_count: 5
                    unread_notifications_count: 3
                    feedback:
                      rating: 4.5
                      satisfaction: 4.2
                      reliable: 4.8
                      friendly: 4.3
                      count: 20
                    feedback_labels:
                      satisfaction:
                        label: Very
                        color: 'bg-blue-100 text-blue-800'
                      friendly:
                        label: Very
                        color: 'bg-blue-100 text-blue-800'
                      reliable:
                        label: Very
                        color: 'bg-blue-100 text-blue-800'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      followers_count:
                        type: integer
                        example: 150
                      unread_messages_count:
                        type: integer
                        example: 5
                      unread_notifications_count:
                        type: integer
                        example: 3
                      feedback:
                        type: object
                        properties:
                          rating:
                            type: number
                            example: 4.5
                          satisfaction:
                            type: number
                            example: 4.2
                          reliable:
                            type: number
                            example: 4.8
                          friendly:
                            type: number
                            example: 4.3
                          count:
                            type: integer
                            example: 20
                      feedback_labels:
                        type: object
                        properties:
                          satisfaction:
                            type: object
                            properties:
                              label:
                                type: string
                                example: Very
                              color:
                                type: string
                                example: 'bg-blue-100 text-blue-800'
                          friendly:
                            type: object
                            properties:
                              label:
                                type: string
                                example: Very
                              color:
                                type: string
                                example: 'bg-blue-100 text-blue-800'
                          reliable:
                            type: object
                            properties:
                              label:
                                type: string
                                example: Very
                              color:
                                type: string
                                example: 'bg-blue-100 text-blue-800'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'User not authenticated'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not authenticated'
      tags:
        - 'User Statistics'
  /api/user/unread-messages:
    get:
      summary: 'Get unread messages count'
      operationId: getUnreadMessagesCount
      description: 'Returns the count of unread messages for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    unread_count: 5
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      unread_count:
                        type: integer
                        example: 5
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'User not authenticated'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not authenticated'
      tags:
        - 'User Statistics'
  '/api/user/{userId}/followers':
    get:
      summary: 'Get user followers count'
      operationId: getUserFollowersCount
      description: 'Retrieves the total number of followers for a specific user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    user_id: ABC12
                    followers_count: 150
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: ABC12
                      followers_count:
                        type: integer
                        example: 150
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to fetch followers count'
                  error: 'Error details'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to fetch followers count'
                  error:
                    type: string
                    example: 'Error details'
      tags:
        - 'User Statistics'
    parameters:
      -
        in: path
        name: userId
        description: ''
        example: quam
        required: true
        schema:
          type: string
  '/api/user/{userId}/feedback':
    get:
      summary: 'Get user feedback and ratings'
      operationId: getUserFeedbackAndRatings
[...]
